extends layout

block content
  h1= title
  p Hello #{user}, welcome to #{title}
  hr
  p Online User List:
  ul
  for name in users
    li= name
  hr 
  form(action="/logout", method="get")
    input(type="submit",value="logout")
