extends layout

block content
  h1 Please login first
  form(action="/login", method="post")
    input(name="username", placeholder="User Name")
    input(type="password", name="password", placeholder="Password")
    br
    br
    input(type="submit",value="Login")

    
